# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# SQLite / DB files
*.sqlite3
*.db

# Logs
*.log

# OS / System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp

# Flask / instance files
instance/
*.pid

# Exported Excel/CSV files
*.xlsx
*.csv

