<!DOCTYPE html>
<html>
<head>
    <title>Expense Records</title>
</head>
<body>
    <h2>Expense Records</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>cost</th>
        </tr>
        {% for record in expense_records %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{ record.category }}</td>
            <td>{{ record.cost }}</td>
        </tr>
<!--    <tr style="font-weight: bold; background-color: #f2dede;">
	    <td colspan="2">Total Expense for the month:</td>
	    <td>{{ total_expense}}</td>
	</tr>-->
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('add_expense') }}">Add More</a>
</body>
</html>
